<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t('activerecord.attributes.user.save'), class: 'btn btn-primary' %> 
    <%= I18n.t('activerecord.attributes.user.or') %> 
    <%= link_to I18n.t('activerecord.attributes.user.back'), :back %>
  </div>
<% end %>
